*{
	padding: 0;
	margin: 0;
}
a{
	text-decoration: none;
	color: #5e5e5e;
}
.box{
	width: 100%;
	height: 135px;
	/*background-image:url('http://img4.duitang.com/uploads/item/201405/31/20140531224836_Sttw3.thumb.700_0.jpeg');*/
	background-color: #dadada;
	background-size: 100%;
	background-repeat: no-repeat;
}
.box .footer{
	padding: 36px 0;
	min-width: 1200px;
}
.box .footer .container{
	position: relative;
	margin: 0 auto;
	width: 1200px;
	color: #fff;
}
.box .footer .container .footer-wrap{
	position: absolute;
    width: auto;
    right: 0;
    bottom: 0;
    margin: 0 auto;
}
.box .footer .container .footer-wrap .footer-sns{
	padding: 0;
	text-align: center;
}
.box .footer .container .footer-wrap .footer-sns .l{
	float: left;
    margin-left:20px;
}
.box .footer .container .footer-wrap .footer-sns .l p{
	font-size: 12px;
    color: #4D555D;
    line-height: 24px;
    margin-top: 4px;
}
.footer-wrap .footer-sns .l a{
	height: 32px;
    width: 32px;
    margin: 0 9px;
    display: inline-block;
    color: #4D555D;
    line-height: 28px;
    margin: 0 5px 0 0;
}
.footer-wrap .footer-sns .l a:hover .footer-i{
	display: block;
}
.footer-wrap .footer-sns .l a .iconfont{
	font-size: 27px;
	text-align: center;
}

.footer-wrap .footer-sns .l a .footer-i{
	position: absolute;
    display: none;
    width: 172px;
    height: 212px;
    left: -77px;
    bottom: 57px;
    background: url(http://www.imooc.com/static/img/common/elevator.png?t=2) no-repeat;
}
.box .footer .container .footer-link{
	text-align: left;
    border: none;
    padding: 0;
    font: 14px/1.5 "PingFang SC","微软雅黑","Microsoft YaHei",Helvetica,"Helvetica Neue",Tahoma,Arial,sans-serif;
}
.box .footer .container .footer-link a{
	margin: 0 10px;
    color: #99a1a6;
    display: inline-block;
    font-size: 14px;
}
.box .footer .container .footer-link a:hover{
	/*font-size: 20px;*/
	color: #fff;
}
.box .footer .container .footer-copyright{
	font-size: 12px;
    padding: 0 0 0 10px;
    text-align: left;
    margin-top: 8px;
    color: #93999F;
    line-height: 24px;
}
.elevator{
	position: fixed;
    padding: 0 16px;
    bottom: 150px;
    margin-top: -140px;
    right: 0;
    z-index: 999;
    background-color: #fff;
    box-shadow: 0 4px 12px 0 rgba(7,17,27,.1);
}
.elevator a{
	display: block;
    width: 26px;
    padding: 16px 0;
    font-size: 13px;
    line-height: 20px;
    color: #b5b9bc;
    box-sizing: border-box;
    text-align: center;
    border-bottom: 1px solid #edf1f2;
}
.elevator a i{
	font-size: 23px;
    color: #D9DDE1;
    speak: none;
    font-style: normal;
    font-weight: 400;
    display: block;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
}
.elevator a:hover i{
	display: none;
}
.elevator a:hover .span{
	display: block;
}
.elevator a .span{
	display: none;
    font-size: 12px;
    color: #07111b;
    line-height: 12px;
}
.elevator a .elevator-app-box{
	position: absolute;
    width: 0;
    height: 0;
    bottom: -2px;
    right: 56px;
    transition: opacity .25s,transform .3s;
    opacity: 0;
    transform-origin: 100% 95%;
    background: url(http://www.imooc.com/static/img/common/elevator.png?t=2) 0 -220px no-repeat;
}
.elevator a:hover .elevator-app-box{
	opacity: 1;
    width: 172px;
    height: 212px;
}
.elevator a:hover .elevator-weixin-box{
	opacity: 1;
    width: 172px;
    height: 212px;
}
.elevator a .elevator-weixin-box{
	position: absolute;
    width: 0;
    height: 0;
    bottom: -4px;
    right: 56px;
    transition: opacity .25s,transform .3s;
    opacity: 0;
    transform-origin: 100% 95%;
    background: url(http://www.imooc.com/static/img/common/elevator.png?t=2) no-repeat;
}