/*梁超*/
/*header style*/
.liangbox {
    min-width: 1360px;
}

.header {
    height: 72px;
    background: #fff;
    /*opacity: 0.5;*/
}

.header-con {
    position: relative;
    margin: 0 auto;
    z-index: 900;
    height: 72px;
    padding-right: 10px;
    box-shadow: 0 4px 8px 0 rgba(7, 17, 27, .1);
}

.logo {
    margin: 0 28px 0 24px;
    float: left;
}

.logo-a {
    display: block;
    height: 72px;
    width: 256px;
    overflow: hidden;
    /*background: url('image/HPE-logo-transparent.png') 60px 290px no-repeat;*/
}

.logo-img {
    display: block;
    height: 72px;
    width: auto;
    overflow: hidden;
}

.header-nav {
    float: left;
}

.nav-list {
    float: left;
}

.list-a {
    display: block;
    padding: 0 16px;
    color: #4d555d;
    text-align: center;
    font-size: 16px;
    line-height: 72px;
    transition: background-color .3s;
}

.list-a:hover {
    color: #07111b;
}

.list-icon {
    position: relative;
    display: inline-block;
    top: -10px;
    left: -5px;
    width: 16px;
    height: 16px;
    background: url('http://www.imooc.com/static/img/common/new.png') no-repeat;
}

.header-login {
    position: relative;
    margin-top: 6px;
    float: right;
}

.login-app {
    position: relative;
    float: left;
    line-height: 60px;
    font-size: 14px;
    color: #4d555d;
}

.login-app:hover .app-a {
    color: #f01414;
}

.login-app:hover .app-box {
    display: block;
}

.app-a {
    width: 60px;
    padding: 0 15px;
    color: #71777d;
}

.app-box {
    display: none;
    position: absolute;
    right: 0;
    top: 60px;
    width: 304px;
    padding: 22px 24px;
    box-sizing: border-box;
    background-color: #fff;
    font-size: 12px;
    color: #4D555D;
    line-height: 16px;
    box-shadow: -1px 4px 8px 0 rgba(7, 17, 27, .2);
}

.box-img {
    float: left;
    width: 108px;
    height: 108px;
}

.box-r {
    float: right;
    margin-bottom: 12px;
}

.box-a {
    display: block;
    font-size: 12px;
    color: #fff;
    width: 132px;
    height: 36px;
    margin-top: 8px;
    line-height: 36px;
    background: #4D555D;
    border-radius: 18px;
}

.box-a i {
    /*margin: 0 8px 0 12px;*/
}

.icon-apple {
    font-size: 16px;
    display: inline-block;
    width: 16px;
    height: 17px;
    margin: 10px 8px 0 7px;
    padding-right: 3px;
    vertical-align: top;
}

.icon-android {
    font-size: 16px;
    margin: 0 8px 0 12px;
}

.login-shop {
    float: left;
    position: relative;
    height: 60px;
    line-height: 60px;
}

.shop-car {
    display: inline-block;
    padding: 0 18px;
    width: auto;
    box-sizing: border-box;
    margin-top: 12px;
    height: 36px;
    line-height: 36px;
    border: 1px solid #d9dde1;
    border-radius: 18px;
}

.icon-shopping-cart {
    position: relative;
    font-size: 16px;
    top: 2px;
    color: #71777d;

}

.shop-car span {
    font-size: 14px;
    color: #71777d;
}

.my-cart {
    display: none;
    padding: 0 12px;
    position: absolute;
    right: 0;
    top: 100%;
    width: 350px;
    background: #fff;
    box-sizing: border-box;
    box-shadow: 0 4px 8px 0 rgba(7, 17, 27, .2);
    z-index: 99999;
}

.cart-title {
    padding: 20px 12px;
    border-bottom: 1px solid #d9dde1;
    overflow: hidden;
}

.cart-l {
    float: left;
    height: 16px;
    font-size: 16px;
    color: #07111b;
    line-height: 16px;
}

.cart-r {
    float: right;
    height: 16px;
    line-height: 16px;
    font-size: 12px;
    color: #93999f;
}

.r-0 {

}

.cart-wrap {

}

.wrap-box {
    height: 284px;
    text-align: center;
}

.cartIcon {
    margin-top: 36px;
    margin-bottom: 12px;
    display: inline-block;
    width: 60px;
    height: 60px;
    line-height: 60px;
    background: #93999f;
    font-size: 36px;
    color: #fff;
    border-radius: 50%;
}

.wrap-box h3 {
    margin: 0 auto;
    width: 180px;
    padding-bottom: 24px;
    border-bottom: 1px solid #d9dde1;
    color: #4d555d;
    font-size: 14px;
    line-height: 14px;
}

.wrap-text {
    text-align: center;
    margin-top: 24px;
    margin-bottom: 16px;
    font-size: 12px;
    line-height: 12px;
    color: #93999f;
}

.wrap-shi {
    display: block;
    color: #f01414;
    font-size: 12px;
    line-height: 12px;
    margin-bottom: 16px;
}

.more-box {
    overflow: hidden;
    padding: 16px 12px;
    border-top: 1px solid #d9dde1;
}

.box-bot {
    float: left;
    height: 38px;
    line-height: 38px;
}

.more-text {
    font-size: 12px;
    color: #93999f;
}

.more-a {
    color: #93999f;
}

.more-go {
    float: right;
    color: #fff;
    font-size: 12px;
    line-height: 12px;
    font-weight: 700;
    padding: 12px 16px;
    border-radius: 16px;
    background-color: #f01400;
    border-color: #f01400;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    transition: all .3s;
}

.login-d {
    float: left;
    color: #d9dde1;
    margin-left: 12px;
}

.login-a {
    display: inline-block;
    width: auto;
    padding: 0 12px;
    color: #4D555D;
    font-size: 14px;
    text-align: center;
    height: 60px;
    line-height: 60px;
    transition: background-color .2s;
}

.header-search {
    float: right;
    position: relative;
    width: 332px;
    height: 48px !important;
    margin-top: 12px;
}

.search-text {
    position: absolute;
    top: 12px;
    right: 35px;
    z-index: 100;
}

.sea-txt {
    display: inline-block;
    background-color: #f3f5f7;
    font-size: 12px;
    color: #4D555D;
    line-height: 24px;
    padding: 0 8px;
    border-radius: 12px;
}

.search_field {
    text-align: right;
    float: right;
    width: 300px;
    height: 38px;
    clear: both;
    padding: 10px 10px 0 0;
}

.grey {
    font-size: 1.2em;
    font-weight: bold;
    color: #ccc;
    background: inherit;

}

.search {
    font-size: 16px;
    /*font-weight: bold;*/
    color: #000;
    background: inherit;
    /*border-bottom: 1px solid #2a0a0d;*/
    border-radius: 30px;
    outline: none;
}

.search-box {
    float: right;
    position: relative;
    padding-right: 30px;
    margin: 0;
    height: 48px;
    width: 300px;
    /*border: 0 solid #fff;*/
    border-bottom: 1px solid #D9DDE1;
    /*border-radius: 50px;*/
    transition: width .3s;
}

.sea-int {
    line-height: 38px;
    font-size: 12px;
    float: left;
    border: 0;
    width: 100%;
    height: 48px;
    padding: 12px 0;
    color: #71777d;
    outline: none;
    box-sizing: border-box;
    background-color: transparent !important;
    transition: background-color .3s;
}

.search-show {
    position: absolute;
    top: 16px;
    right: 0px;
    width: auto;
    height: auto;
    padding: 0 8px;
    line-height: 19px;
    border-radius: 12px;
    /*top: 19px;*/
    text-align: right;
    /*position: absolute;*/
    display: inline-block;
    /*right: -7px;*/
}

.search-show:hover {
    background: rgba(191, 169, 179, 0.4);
}

.icon-search {
    /*margin-top: 5px;*/
    /*position: absolute;*/
    /*top: 0;*/
    /*right: 0;*/
    font-size: 20px;
    color: #93999F;
    line-height: 24px;
    width: 16px !important;
    height: 18px !important;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    background: url('http://s.luoo.net/img/icon-common.png') -110px -240px no-repeat;
}

/*胡宏杰*/
* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    font-size: 14px;
}

li {
    list-style-type: none;
}

.hhjbox {
    width: 100%;
    height: auto;
}

.hhj-banner {
    width: 100%;
    height: 476px;
    position: relative;
}

.hhj-banner-background {
    width: 100%;
    height: 180px;
    position: absolute;
    z-index: -1;
    top: -72px;
    left: 0;
    opacity: 0.3;
    -webkit-filter: blur(100px);
    -moz-filter: blur(100px);
    -o-filter: blur(100px);
    -ms-filter: blur(100px);
    filter: blur(100px);
    background-image: url("http://img.imooc.com/59b11ce60001505309360316.jpg");
}

.hhj-yesbanner {
    width: 1152px;
    height: 444px;
    margin: 20px auto 0;
    box-shadow: 0 12px 24px 0 rgba(7, 17, 27, .2);
    border-radius: 4px;
    overflow: hidden;
}

.hhj-yesbanner-left {
    position: relative;
    width: 204px;
    height: 100%;
    padding-left: 12px;
    background-color: #2b333b;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    float: left;
}

.hhj-left-li-a {
    display: block;
    height: 60px;
    color: #FFF;
    line-height: 60px;
    font-size: 16px;
    width: 172px;
    padding: 0 16px;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    position: relative;
    overflow: hidden;
}

.hhj-left-li-a:hover {
    background-color: #eee;
    color: #000;
}

.hhj-left-li-a span {
    position: absolute;
    top: 20px;
    right: 16px;
    transform: scaleY(2);
    height: 20px;
    line-height: 20px;
}

.hhj-hidden {
    position: absolute;
    left: 216px;
    width: 740px;
    height: 444px;
    z-index: 3;
    background-color: #fdffff;
    transition: all .6s ease;
}

.hhj-hidden-top {
    width: 100%;
}

.hhj-hidden-top-one {
    position: relative;
    width: 90%;
    margin: 30px auto 30px;
    overflow: hidden;
}

.hhj-hidden-top-one span {
    display: block;
    width: 100%;
    height: 1px;
    position: absolute;
    left: 0;
    top: 10px;
    background-color: #d0d0d0;
}

.hhj-hidden-top-one p {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 45px;
    font-size: 14px;
    background-color: #fff;
}

.hhj-hidden-top-one div {
    margin-top: 40px;
}

.hhj-hidden-top-one div a {
    font-size: 16px;
    color: #000;
    margin-left: 30px;
    font-weight: 200;
}

.hhj-hidden-top-one div a:nth-child(1) {
    margin-left: 0;
}

.hhj-hidden-bottom {
    width: 90%;
    height: 100%;
    margin: 0 auto;
}

.hhj-hidden-top-two {
    width: 100%;
}

.hhj-hidden-top-two-div {
    margin-top: 30px;
    margin-left: 110px;
    float: left;
    width: 240px;
}

.hhj-hidden-top-two-div:nth-child(1), .hhj-hidden-top-two-div:nth-child(3) {
    margin-left: 0;
}

.hhj-hidden-top-two-div img {
    width: 64px;
    height: 43px;
    border-radius: 5px;
    float: left;
    margin-right: 15px;
}

.hhj-hidden-top-two-div span, .hhj-hidden-top-two-div a {
    font-size: 12px;
    color: #bcbcbc;
}

.hhj-hidden-top-two-div a {
    color: #000;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width:160px;
    height: 13px;
    float: left;
}

.hhj-hidden-top-two-div a:hover {
    color: #ff6700;
}

.icon-user {
    color: red;
}

.hhj-hidden-top-two-div div {
    margin-left: 80px;
}

.kecheng {
    margin: 0 10px;
}

.hhj-yesbanner-right {
    width: 936px;
    height: 444px;
    float: left;
}

.hhj-yesbanner-right-top {
    width: 100%;
    height: 316px;
    position: relative;
    overflow: hidden;
}

.hhj-yesbanner-right-bottom {
    width: 100%;
    height: 128px;
    background-color: #fff;
}

.hhj-right-banner {
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 936px;
}

.hhj-right-banner:nth-child(1) {
    left: 0;
}

.hhj-right-banner img {
    display: block;
}

.hhj-dian {
    width: 160px;
    height: 30px;
    position: absolute;
    right: 0;
    top: 285px;
    cursor: pointer;
}

.hhj-dian-o {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #424242;
    line-height: 30px;
    margin-left: 13px;
    float: left;
    cursor: pointer;
}

.hhj-dian-o:nth-child(1) {
    background-color: #fff;
}

.hhj-leftt {
    width: 40px;
    height: 60px;
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -30px;
    line-height: 30px;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
}

.hhj-rightt {
    width: 40px;
    height: 60px;
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -30px;
    line-height: 30px;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
}

.hhj-leftt:hover, .hhj-rightt:hover {
    background-color: #424242;
    opacity: 0.6;
}

.hhj-leftt:hover .hhj-leftt-l, .hhj-rightt:hover .hhj-rightt-r {
    color: #fff;
}

.hhj-leftt-l {
    transform: scaleY(3);
    height: 20px;
    margin-left: -5px;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

.hhj-rightt-r {
    transform: scaleY(3);
    height: 20px;
    margin-right: -5px;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

.hhj-i {
    transition: all .4s ease;
    display: block;
    width: 36px;
    height: 36px;
    background-size: 100%;
    margin: 0 auto;
    margin-top: 30px;
    background-image: url("http://www.imooc.com/static/img/index/new/path_new.png");
}
.hhj-bottom-ul li:nth-child(2) .hhj-i{
    background-position: 0 -36px;
}
.hhj-bottom-ul li:nth-child(3) .hhj-i{
    background-position: 0 -72px;
}
.hhj-bottom-ul li:nth-child(4) .hhj-i{
    background-position: 0 -108px;
}
.hhj-bottom-ul li:nth-child(5) .hhj-i{
    background-position: 0 -144px;
}

.hhj-yesbanner-right-bottom ul {
    height: 100%;
    width: 100%;
    margin-left: 20px;
}

.hhj-yesbanner-right-bottom li {
    width: 180px;
    height: 100%;
    text-align: center;
    overflow: hidden;
    float: left;
    cursor: pointer;
}

.hhj-yesbanner-right-bottom li:hover .hhj-i {
    margin-top: 25px;
}

.hhj-yesbanner-right-bottom-pone {
    color: #000;
    font-size: 14px;
}

.hhj-yesbanner-right-bottom-ptwo {
    color: #bcbcbc;
    font-size: 12px;
}
.hhj-banner-left-a:hover{
    color:#ff6700;
}

/*李张晗*/
.lzh {
    width: 100%;
    background-color: #f8fafc;
    padding-top: 50px;
    height: 735px;
    /*box-shadow: 1px 1px 20px rgba(0,0,0,0.1) inset;*/
}

.cutting {
    width: 1253px;
    margin: 0 auto;
}

.cutting-edge {
    width: 1152px;
    height: 735px;
    margin: 0 auto;

}

.degebanner {
    display: block;
    position: relative;
    font-size: 14px;
    color: #93999F;
    letter-spacing: .6px;
    line-height: 36px;
    text-align: center;
}

.degebanner .tit-icon {
    display: inline-block;
    vertical-align: bottom;
    width: 56px;
    height: 36px;
    background: url("http://www.imooc.com/static/img/index/icon.png") no-repeat;
    background-position: center -288px;
    margin-right: 24px;
    background-size: 100%;
}

.degebanner em {
    font-size: 20px;
    font-weight: 600;
    color: #4D555D;
    margin: 0 3px;
    letter-spacing: .6px;
    line-height: 36px;
    text-align: center;
}

.degebanner .tit-iconc {
    display: inline-block;
    vertical-align: bottom;
    width: 56px;
    height: 36px;
    background: url("http://www.imooc.com/static/img/index/icon.png") no-repeat;
    background-position: center -324px;
    background-size: 100%;
    margin-left: 24px;
}

.types {
    width: 1170px;
    height: 672px;
    margin-top: 24px;
    /*	background:red;*/

}

.types .adsensbox-1 {
    position: relative;
    overflow: hidden;
    float: left;
    width: 567px;
    height: 108px;
    margin-bottom: 36px;
    margin-left: 18px;
    border-radius: 8px;
    background: url("http://img.mukewang.com/59784e8800014bfa05670108.jpg") no-repeat center center;
    background-size: 100%;
}

.types .adsensbox-1:before {
    content: '';
    position: absolute;
    width: 50%;
    height: 300%;
    top: -200%;
    left: -100%;
    transform: rotate(45deg);
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, .05) 20%,
    rgba(255, 255, 255, .6) 65%, rgba(255, 255, 255, .05) 100%);
    background: linear-gradient(left, rgba(255, 255, 255, .05) 20%,
    rgba(255, 255, 255, .6) 65%, rgba(255, 255, 255, .05) 100%);
}

.types .adsensbox-1:hover:before {
    top: -50px;
    left: 100%;
    transition: all .6s linear;
}

.types .adsensbox-1 a {
    display: block;
    padding-top: 30px;
}

.types .adsensbox-1 a .ellipsis {
    display: block;
    font-size: 20px;
    font-weight: 700;
    color: #FFF;
    text-align: center;
    letter-spacing: 2px;
    line-height: 28px;
    text-shadow: 0 2px 2px rgba(7, 17, 27, .4);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.types .adsensbox-1 a .p {
    font-size: 12px;
    color: #FFF;
    line-height: 16px;
    text-shadow: 0 2px 2px rgba(7, 17, 27, .4);
    margin-top: 4px;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.types .adsensbox-l {
    width: 567px;
    height: 108px;
    margin-bottom: 36px;
    margin-left: 18px;
    border-radius: 8px;
    background: url("http://img.mukewang.com/59784f4d0001c35f05670108.jpg") no-repeat center center;
    background-size: 100%;
    float: left;
}

.types .container {
    width: 216px;
    height: 252px;
    float: left;
    margin-left: 18px;
    border-radius: 4px;
    margin-bottom: 12px;
    transition: all .3s ease;
}

.container .hashadow {
    width: 216px;
    height: 120px;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
}

.container .hashadow:before {
    content: '';
    position: absolute;
    width: 50%;
    height: 300%;
    top: -200%;
    left: -100%;
    transform: rotate(45deg);
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, .05) 20%,
    rgba(255, 255, 255, .6) 65%, rgba(255, 255, 255, .05) 100%);
    background: linear-gradient(left, rgba(255, 255, 255, .05) 20%,
    rgba(255, 255, 255, .6) 65%, rgba(255, 255, 255, .05) 100%);
}

.container .hashadow:hover:before {
    top: -50px;
    left: 100%;
    transition: all .6s linear;
}

.container .hashadow img {
    height: 120px;
    width: 216px;
    border-radius: 8px;

}

.hashadow .baohan {

    margin-top: -35px;
    padding-left: 8px;

    font-size: 12px;
    color: #FFF;
    line-height: 16px;

}

.hashadow .baohan label {
    display: inline-block;
    background: rgba(7, 17, 27, .4);
    border-radius: 12px;
    padding: 4px 8px;
    margin-bottom: 2px;
    margin-right: 0;
    font-weight: 200;
}

.course-card-content {
    padding: 12px 8px;
    display: block;
    color: #14191e;
    width: 200px;
    height: 104px;
}

.course-card-info {
    width: 200px;
    height: 24px;
    font-size: 12px;
    color: #93999F;
    line-height: 24px;
    margin-top: 8px;
    font-weight: 200;
}

.course-card-bottom {
    width: 200px;
    height: 52px;
}

.course-card-price {
    font-size: 12px;
    color: #4D555D;
    line-height: 20px;
    margin-top: 8px;
}

.mianfei {
    font-size: 12px;
    color: #F01414 !important;
    line-height: 20px;
    margin-top: 8px;
}

.dingwei {
    position: relative;
}

.new {
    background-image: linear-gradient(-90deg, #f68688 0, #f02930 100%);
    position: absolute;
    border: 2px solid #FFF;
    border-radius: 12px;
    top: -8px;
    left: -8px;
    z-index: 4;
    font-family: dincondm;
    font-size: 12px;
    color: #FFF;
    line-height: 20px;
    padding: 0 4px;
}

.container:hover {
    cursor: pointer;
}

.container:hover h3 {
    color: #F01414;
    transition: all .3s ease;
}

.container:hover .hashadow {
    box-shadow: 0px 5px 8px 3px rgba(0, 0, 0, 0.3);
    transition: all .3s ease;

}

.course-card-info span .icon-person_outline {
    display: inline-block;
    margin-left: 5px;
    text-align: center;
    margin-top: 0;
}

.course-card-info .julidy {
    margin-left: 15px;
}

.icon-star-full {
    color: #f90;
    font-size: 10px;

}

/*吴帅林*/
.bgfff {
    width: 100%;
    height: 849px;
    padding-top: 50px;
}

.bgfff .conter {
    width: 1152px;
    height: 480px;
    margin: 0 auto;

}

.bgfff .conter .restlo {
    width: 1152px;
    height: 39px;
    margin: 0 auto;
    position: relative;

}

.bgfff .conter .restlo .restlo-span {
    position: absolute;
    left: 400px;
    z-index: 5;
    top: 0;
    display: block;
    width: 56px;
    height: 36px;
    background-image: url("http://www.imooc.com/static/img/index/icon.png");
    background-repeat: no-repeat;
    background-position: -52px -161px;
}

.bgfff .conter .restlo h3 {
    text-align: center;
    line-height: 39px;
    font-size: 20px;
    font-weight: 600;
    color: #4D555D;

}

.bgfff .conter .clearfix {
    width: 1152px;
    height: 108px;
    margin: 0 auto;
    margin-top: 20px;
}

.bgfff .conter .clearfix .grgr {
    width: 567px;
    height: 108px;
    background: url('http://img1.sycdn.imooc.com/59accea600011c0005670108.jpg') no-repeat center center;
    background-size: 100%;
    float: left;

}

.bgfff .conter .clearfix .grgr h3 {

    font-size: 20px;
    font-weight: 700;
    color: #FFF;
    letter-spacing: 2px;
    line-height: 80px;
    text-align: center;
}

.tyty {
    font-size: 12px;
    color: #FFF;
    line-height: 16px;
    text-shadow: 0 2px 2px rgba(7, 17, 27, .4);
    margin-top: -20px;
    text-align: center;

}

.bgfff .conter .clearfix .erer {
    width: 567px;
    height: 108px;
    background: url('http://img.mukewang.com/597849a80001d52905670108.jpg') no-repeat center center;
    background-size: 100%;
    float: right;

}

.bgfff .conter .clearfix .erer h3 {

    font-size: 20px;
    font-weight: 700;
    color: #FFF;
    letter-spacing: 2px;
    line-height: 80px;
    text-align: center;
}

.uyuy {
    font-size: 12px;
    color: #FFF;
    line-height: 16px;
    text-shadow: 0 2px 2px rgba(7, 17, 27, .4);
    margin-top: -20px;
    text-align: center;

}

.hyhy {
    width: 1152px;
    height: 2px;
    background: red;
    margin-top: 10px;
}

.kiki {
    width: 1152px;
    height: 2px;
    background: blue;
    margin-top: 5px;
}

.skt {
    width: 1152px;
    height: 2px;
    background: #f90;
    margin-top: 5px;
}

.mvp {
    margin-top: -52px;
    font-size: 29px;
    margin-left: 410px;
    cursor: pointer;

}

/*jiji*/
.warrp {
    width: 216px;
    height: 252px;
    float: left;
    margin-top: 20px;
    margin-left: 18px;
    cursor: pointer;
}

.warrp-a {
    position: relative;
    width: 216px;
    height: 252px;
    float: left;
    margin-top: 20px;
    cursor: pointer;

}

.warrp-a .wewe {
    background-image: url('http://img3.mukewang.com/596366a900010f7e06000338-240-135.jpg');
    width: 216px;
    height: 120px;

}

.warrp-a:hover .wewe:nth-child(1) {
    margin-top: -3px;
    box-shadow: 0 5px 15px 5px rgba(0, 0, 0, 0.15);
    transform: translateY(-3px);
    transition: all 0.6s ease;
}

.warrp-a .wewe p {
    color: #fff;
    line-height: 200px;
    font-size: 12px;
    margin-left: 10px;
}

.warrp-a .gtrgtr h3 {
    font-size: 16px;
    color: #07111B;
    line-height: 35px;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    max-height: 44px;
    transition: all .3s;

}

.warrp-a .gtrgtr {

    width: 216px;
    height: 122px;
    font-size: 12px;
    color: #93999F;
    line-height: 30px;
    margin-top: 10px;
    font-weight: 200;

}

.warrp-a .mlml {
    margin-top: 5px;
    color: #14191e;
}

.warrp-a:hover h3 {
    color: #F01414;
}

.warrp .swsw p {
    color: #fff;
    line-height: 200px;
    font-size: 12px;
    margin-left: 10px;
}

.warrp .swsw {
    background-image: url('http://img3.mukewang.com/596366a900010f7e06000338-240-135.jpg');
    width: 216px;
    height: 120px;

}

.warrp:hover .swsw:nth-child(1) {
    margin-top: -3px;
    box-shadow: 0 5px 15px 5px rgba(0, 0, 0, 0.15);
    transform: translateY(-3px);
    transition: all 0.6s ease;
}

.warrp .wewe p {
    color: #fff;
    line-height: 200px;
    font-size: 12px;

}

.warrp .qweqwe h3 {
    font-size: 16px;
    color: #07111B;
    line-height: 35px;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    max-height: 44px;
    transition: all .3s;

}

.warrp .qweqwe {

    left: 0;
    bottom: 0;
    width: 216px;
    height: 122px;
    font-size: 12px;
    color: #93999F;
    line-height: 30px;
    margin-top: 10px;
    font-weight: 200;

}

.warrp .koko {
    margin-top: 5px;
    color: #14191e;
}

.warrp:hover h3 {
    color: #F01414;
}

/*ender*/
.ender {
    width: 1152px;
    height: 350px;
    margin: 15px auto 5px;
    cursor: pointer;

}

.ender-a {
    border-top: 3px solid blue;
    width: 220px;
    height: 296px;
    float: left;

}

.ender-a:hover {
    margin-top: -4px;
    box-shadow: 0 5px 15px 5px rgba(0, 0, 0, 0.15);
    transform: translateY(-3px);
    transition: all 0.6s ease;
}

.ender-a p {
    font-size: 12px;
    color: #4D555D;
    width: 90%;
    margin: 0 auto;
    line-height: 15px;
    letter-spacing: 1px;
    padding-top: 5px;
}

.ender-a h3 {
    font-size: 20px;
    text-align: center;
}

.ender h3:hover {
    color: #F01414;

}

.ender-b {
    border-top: 3px solid rgba(0, 180, 60, .8);
    width: 220px;
    height: 296px;
    float: left;
    margin-left: 13px;
    cursor: pointer;

}

.wuimg {
    width: 220px;
    height: 150px;
}

.ender-b h3 {
    font-size: 20px;
    text-align: center;
}

.ender-b p {
    font-size: 12px;
    color: #4D555D;
    width: 90%;
    margin: 0 auto;
    line-height: 15px;
    letter-spacing: 1px;
    padding-top: 5px;
}

.ender-b h3:hover {
    color: #F01414;

}

.ender-b:hover {
    margin-top: -4px;
    box-shadow: 0 5px 15px 5px rgba(0, 0, 0, 0.15);
    transform: translateY(-3px);
    transition: all 0.6s ease;
}

/*薛波*/
.xue {
    width: 100%;
    background-color: #f8fafc;
}

#xuebo {
    background-color: #f8fafc;
    width: 1349px;
    margin: 0 auto;
    height: 1748px;
}

#xuebo-box {
    width: 1152px;
    height: 1748px;
    margin: 0 auto;
    padding: 36px 0 48px;
}

.bh1 {
    margin: 0 auto;
}

.bh {
    width: 50px;
    height: 17px;
    background-color: #fffbfc;
    color: #01010c;
    margin-left: 5px;
    float: left;
    list-style: none;
    padding: 5px 0 5px 10px;
}

.bh:hover {
    font-size: 16px;
    background-color: #000;
    color: #fff;
}

#xuebo-box h3 .h3-img1 {
    margin-right: 20px;
}

#xuebo-box h3 .h3-img2 {
    margin-left: 20px;
}

#xuebo-box h3 em {
    font-size: 20px;
    font-weight: 600;
    color: #4D555D;
    margin: 0 3px;
    letter-spacing: .6px;
    line-height: 36px;
    text-align: center;
}

#xuebo-box-dl {
    position: relative;
    width: 1152px;
    height: 1601px;
}

.xuebo-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 308px;
    padding: 24px 32px 32px;
    border-radius: 8px;
    transition: all 0.3s;
    margin-right: 18px;
    margin-bottom: 18px;
    background-color: #fff;
    overflow: hidden;
}

#xuebo-box-dl .xuebo-item:hover {
    box-shadow: 0px 0px 10px blue;
}

#xuebo-box h3 {
    text-align: center;
    margin-bottom: 20px;
}

#xuebo-box-dl .xuebo-item h4 {
    width: 64px;
    border-radius: 8px;
    height: 20px;
    padding: 5px;
    color: #fff;
    background-color: red;
}

.xuebo-item .xuebo-item-div1 span {
    float: left;
    line-height: 25px;
    color: red;
}

.xuebo-item .xuebo-item-div1 img {
    float: right;
    margin-left: 50px;
}

.xuebo-item .xuebo-item-div2 {
    margin-top: 95px;
    font-size: 12px;
}

.xuebo-item-div2-p1 {
    text-align: right;
    margin-top: 10px;
    color: #1dd388;
}

.xuebo-item-div2-p2 {
    margin-top: 20px;
    color: #93999f;
}

.xuebo-item p {
    padding: 4px;
    font-size: 12px;
}

.xuebo-item-div3 {
    width: 308px;
    height: 72px;
    margin-bottom: 20px;
}

.xuebo-item-div3 a {
    float: left;
    line-height: 24px;
    font-size: 14px;
    color: #1dd388;
}

.xuebo-item-div3 img {
    float: right;
}

.xuebo-item-a {
    margin-left: 90px;
    color: #a2b71e;
}

/*方青青*/
.bg000 {
    box-shadow: 0 2px 4px 0 rgba(7, 17, 27, .06);
}

.bg000 .fangcontainer {
    width: 1152px;
    margin-left: auto;
    margin-right: auto;
    padding: 36px 0 48px;
}

.fq-title {
    position: relative;;
    font-size: 14px;
    color: #93999F;
    letter-spacing: .6px;
    line-height: 36px;
    text-align: center;
}

.fangcontainer .fq-title span.icon-skill-l {
    background-position: center -216px;
}

.fangcontainer .fq-title .tit-icon-l {
    margin-right: 24px;
}

.fangcontainer .fq-title .tit-icon {
    display: inline-block;
    vertical-align: bottom;
    width: 56px;
    height: 36px;
    background: url(http://www.imooc.com/static/img/index/icon.png) no-repeat;
    background-size: 100%;
}

.fangcontainer .fq-title em {
    font-size: 20px;
    font-weight: 600;
    color: #4D555D;
    margin: 0 3px;
}

.fangcontainer .fq-title span.icon-skill-r {
    background-position: center -252px;
}

.fangcontainer .fq-title .tit-icon-r {
    margin-left: 24px;
}

.fangcontainer .fq-title .tit-icon {
    display: inline-block;
    vertical-align: bottom;
    width: 56px;
    height: 36px;
    background: url(http://www.imooc.com/static/img/index/icon.png) no-repeat;
    background-size: 100%;
}

.fangcontainer .content {
    margin-top: 24px;
    margin-left: -18px;
    overflow: hidden;
}

.content .tp1 {
    background: url(http://img.mukewang.com/599cff970001dcac05670108.jpg) no-repeat center center;
    background-size: 100%;
}

.content .tp2 {
    background: url(http://img.mukewang.com/599d00090001635805670108.jpg) no-repeat center center;
    background-size: 100%;
}

.content .adsense-box {
    margin-bottom: 36px;
    margin-left: 18px;
    border-radius: 8px;
    transition: all .3s;
    text-align: center;
}

.ll {
    float: left;
}

.adsense-box a {
    display: block;
    width: 567px;
    height: 108px;
    border-radius: 8px;
    overflow: hidden;
    padding: 30px 0;
    box-sizing: border-box;
    background: rgba(7, 17, 27, .4);
}

.adsense-box a h3 {
    font-size: 20px;
    font-weight: 700;
    color: #FFF;
    letter-spacing: 2px;
    line-height: 28px;
    text-shadow: 0 2px 2px rgba(7, 17, 27, .4);
}

.adsense-box a p {
    font-size: 12px;
    color: #FFF;
    line-height: 16px;
    text-shadow: 0 2px 2px rgba(7, 17, 27, .4);
    margin-top: 4px;
}

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.fangcontainer .index {
    float: left;
    margin-left: 18px;
    border-radius: 4px;
    margin-bottom: 12px;
}

.card {
    width: 216px;
    height: 252px;
    position: relative;
}

.cont {
    position: relative;
}

.card .course-top.hashadow {
    overflow: hidden;
}

.card .course-top {
    width: 216px;
    height: 120px;
    position: relative;
    border-radius: 8px;
    /* transition: all .3s;*/
}

.card .course-top .course-banner {
    width: 100%;
    height: 100%;
    background-color: #f3f5f7;
    border-radius: 8px;
}

.test {
    transition: .3s all linear;
}

.course-content {
    transition: .3s all linear;
}

.index:hover .test {
    margin-top: -10px;
    margin-left: -5px;
    box-shadow: 10px 10px 10px #e0e0e0;
}

.index:hover .course-content {
    margin-top: 10px;
    /*margin-left: -5px;*/
}

.card .course-top .course-label {
    position: absolute;
    bottom: 6px;
    left: 8px;
    font-size: 12px;
    color: #FFF;
    line-height: 16px;
}

.card .course-top .course-label label {
    display: inline-block;
    background: rgba(7, 17, 27, .4);
    border-radius: 12px;
    padding: 4px 8px;
    margin-bottom: 2px;
    margin-right: 0;
    font-weight: 200;
    cursor: default;
}

.card .course-content {
    padding: 12px 8px;
}

.card .course-content .course-name {
    font-size: 16px;
    color: #07111B;
    line-height: 24px;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    max-height: 44px;
    transition: all .3s;
}

.card:hover .course-name {
    color: #f01414;
}

.card .course-content .course-info {
    font-size: 12px;
    color: #93999F;
    line-height: 24px;
    margin-top: 8px;
    font-weight: 200;
}

.card .course-content .course-info span {
    display: inline-block;
    float: left;
    margin-right: 12px;
}

.course-star-box {
    height: 24px;
    line-height: 24px;
}

.course-info .course-star-box .on {
    color: #f90;
    display: inline-block;
    line-height: 1;
    width: 12px;
    height: 12px;
    margin-top: 6px;
}

.course-price {
    display: inline-block;
    width: 200px;
    font-size: 12px;
    color: #4D555D;
    line-height: 20px;
    margin-top: 8px;
    margin-left: 0;
}

.course-price.sales {
    color: #F01414 !important;
}

/*张春鑫*/
.clearfix {
    clear: both;
}

.karla-wrapper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #dadada;
}

.krala-content {
    position: relative;
    width: 1152px;
    height: 620px;
    margin: 0 auto;
}

.karla-unit {
    position: absolute;
    width: 800px;
    height: 500px;
    top: 0;
    left: 200px;
    z-index: 1;
    /*overflow: hidden;*/
    cursor: pointer;
}

.karla-img {
    width: 100%;
    height: 100%;
}

.karla-unit .karla-item {
    position: absolute;
    width: 100%;
    height: 0;
    bottom: 0;
    left: 0;
    z-index: 3;
    color: #fff;
    text-align: center;
    /*background-color: rgba(255,255,255,0.8);*/
    background-color: rgba(0, 0, 0, 0.8);
    overflow: hidden;
    transition: all .2s linear;
}

.karla-unit.active .karla-item {
    display: block;
    height: 150px;
    opacity: 0.6;
    transition: all .2s linear;
}
.karla-unit.active:hover .karla-item {
    display: block;
    height: 0;
    opacity: 0.6;
    transition: all .2s linear;
}

.karla-item .t_name {
    display: block;
    padding: 0 36px;
    margin-top: 0;
    font-size: 16px;
    line-height: 24px;
    font-weight: 800;
    color: #ff6700;
    white-space: nowrap;
}

.karla-item .t_title {
    display: block;
    padding: 0 36px;
    margin-top: 5px;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    color: #fff;
}

.karla-item .lecturer-p {
    display: block;
    padding: 0 36px;
    margin-top: 5px;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    color: #fff;
    text-align: justify;
}

.arrow {
    opacity: 1;
    display: none;
    transition: all .5s ease;
}

.prev,
.next {
    position: absolute;
    top: 50%;
    width: 76px;
    height: 112px;
    background-image: url("../img/prev.png");
    background-repeat: no-repeat;
    z-index: 99;
}

.next {
    right: 0;
    background-image: url("../img/next.png");
    background-repeat: no-repeat;
}

/*title*/
.types_title {
    font-size: 14px;
    line-height: 36px;
    text-align: center;
    font-weight: 400;
}

.types_title .tit_cion {
    display: inline-block;
    vertical-align: bottom;
    width: 56px;
    height: 36px;
    background: url(http://www.imooc.com/static/img/index/icon.png
    ) no-repeat;
    background-size: 100%;
}

.types_title .tit_cion.tit_cion-l {
    background-position: center 1px;
    margin-right: 24px;
}

.types_title .tit_cion.tit-icon-r {
    background-position: center -33px;
    margin-left: 24px;
}

.types_title em {
    font-size: 20px;
    font-weight: 600;
    color: #000;
    margin: 0 3px;
    font-style: normal;
}

/*吴希禹*/

* {
    margin: 0;
    padding: 0;
}

.bgqmx {
    width: 100%;
    height: 457px;
    background-color: rgb(234,234,214);
}

.wxy-contentait {
    width: 1152px;
    margin-left: auto;
    margin-right: auto;
    padding: 36px 0 48px;
}

.wxy-contentait-title {
    position: relative;
    font-size: 14px;
    color: #93999F;
    letter-spacing: .6px;
    line-height: 36px;
    text-align: center;
}

.wxy-contentait-title em {
    font-size: 20px;
    font-weight: 600;
    color: #f3af01;
    margin: 0 3px;
}

.wxy-title-icon-l {
    display: inline-block;
    vertical-align: bottom;
    width: 56px;
    height: 36px;
    background: url(http://www.imooc.com/static/img/index/icon.png) no-repeat;
    background-size: 100%;
    background-position: center -504px;
}

.wxy-title-icon-r {
    display: inline-block;
    vertical-align: bottom;
    width: 56px;
    height: 36px;
    background: url(http://www.imooc.com/static/img/index/icon.png) no-repeat;
    background-size: 100%;
    background-position: center -540px;
}

.wxy-start-list {
    width: 1152px;
    height: 298px;
    background-color: rgb(234,234,214);
}

.wxy-start-list-l {
    width: 100px;
    margin-right: 100px;
    height: 298px;
    /*background: darkred;*/
    float: left;
}

.wxy-start-list-l dd {
    width: 76px;
    text-align: center;
    padding-top: 18px;
    transition: all .6s ease;
    float: left;
}

.wxy-start-list-l dd:nth-child(2) {
    margin-left: -25px;
}

.wxy-start-list-l dd:nth-child(3) {
    margin-left: -25px;
}

.wxy-start-list-r {
    height: 298px;
    width: 952px;
    /*background: cornflowerblue;*/
    position: relative;
    float: left;
}

.list-lead-item {
    width: 56px;
    height: 56px;
    margin: 0 auto;
    position: relative;
}

.wxy-_blank img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: 0 8px 16px 0 rgba(7, 17, 27, .1);
}

.wxy-color {
    position: absolute;
    width: 26px;
    height: 18px;
    top: -16px;
    left: 15px;
    background: url(http://www.imooc.com/static/img/index/champion.png) no-repeat;
    background-size: 100%;
}

.wxy-show {
    width: 189px;
    height: 298px;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    text-align: center;
    display: none;
    background: #f2f2f2;
    transition: all .3s ease;
    border-radius: 20px;
}

.wxy-show img {
    width: 100px;
    height: 100px;

}

.wxy-show-div {
    width: 189px;
    text-align: center;
}

.wxy-show-div-p1 {
    font-size: 20px;
}

.wxy-show-div-p2 {
    font-size: 14px;
    color: #000;
    width: 130px;
    margin: 20px 30px;
}

.wxy-student {
    width: 400px;
    height: 298px;
    position: relative;
    float: left;
    margin-left: 70px;
}

.othen-item {
    position: absolute;
    border-radius: 48px;
    font-size: 0;
    width: 52px;
    transform-origin: center 140px;
    transform: rotate(36deg);
    box-sizing: border-box;
    transition: all .3s;
    left: 104px;
    top: 9px;
}

/*.othen-item:hover {*/
/*top: 15px;*/
/*}*/

/*.othen-item img:hover {*/
/*border: 2px solid #653ddd;*/
/*}*/

.othen-item img {
    height: 48px;
    width: 48px;
    border-radius: 48px;
    box-sizing: border-box;
    transition: all .3s;
    border: 2px solid #fff;
    transform: rotate(0deg);
}

.minxing {
    overflow: hidden;
    position: absolute;
    top: 68px;
    left: 52px;
    width: 160px;
    height: 160px;
}

.othen-item-showtwo {
    width: 100px;
    border-radius: 50%;
    height: 100px;
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    transition: all 0.3s ease;
    padding: 30px;
    overflow: hidden;
}

.othen-item-show {
    width: 100px;
    height: 100px;
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    text-align: center;
    transition: all 0.3s ease;
    padding: 30px;
    transform: rotateY(-90deg);
    background-repeat: no-repeat;
    background-size: 100%;
    overflow: hidden;
}

.othen-item-showtwo img {
    width: 160px;
    height: 160px;
    /*background: #ff6700;*/
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    text-align: center;
    overflow: hidden;
    transition: all 0.3s ease;
}

.othen-item-show-title {
    font-size: 12px;
    line-height: 16px;
    font-weight: 200;
    margin-top: 50px;
    color: #fff;
}

.othen-item-show-nickname {
    font-size: 14px;
    line-height: 24px;
    margin-top: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #fff;
}

.othen-item-show-desc {
    font-size: 12px;
    line-height: 16px;
    margin-top: 8px;
    font-weight: 200;
    color: #fff;
}

.wxx {
    position: absolute;
    left: 0;
    top: 0;
    width: 160px;
    height: 160px;
    background-color: #000;
    opacity: 0.45;
}

.wyy {
    position: absolute;
    left: 0;
    top: 0;
    width: 160px;
    height: 160px;
}

/*向晴隆*/
* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #5e5e5e;
}

.box {
    width: 100%;
    height: 135px;
    /*background-image:url('http://img4.duitang.com/uploads/item/201405/31/20140531224836_Sttw3.thumb.700_0.jpeg');*/
    background-color: #dadada;
    background-size: 100%;
    background-repeat: no-repeat;
}

.box .footer {
    padding: 36px 0;
    min-width: 1200px;
}

.box .footer .container {
    position: relative;
    margin: 0 auto;
    width: 1200px;
    color: #fff;
}

.box .footer .container .footer-wrap {
    position: absolute;
    width: auto;
    right: 0;
    bottom: 0;
    margin: 0 auto;
}

.box .footer .container .footer-wrap .footer-sns {
    padding: 0;
    text-align: center;
}

.box .footer .container .footer-wrap .footer-sns .l {
    float: left;
    margin-left: 20px;
}

.box .footer .container .footer-wrap .footer-sns .l p {
    font-size: 12px;
    color: #4D555D;
    line-height: 24px;
    margin-top: 4px;
}

.footer-wrap .footer-sns .l a {
    height: 32px;
    width: 32px;
    margin: 0 9px;
    display: inline-block;
    color: #4D555D;
    line-height: 28px;
    margin: 0 5px 0 0;
}

.footer-wrap .footer-sns .l a:hover .footer-i {
    display: block;
}

.footer-wrap .footer-sns .l a .iconfont {
    font-size: 27px;
    text-align: center;
}

.footer-wrap .footer-sns .l a .footer-i {
    position: absolute;
    display: none;
    width: 172px;
    height: 212px;
    left: -77px;
    bottom: 57px;
    background: url(http://www.imooc.com/static/img/common/elevator.png?t=2) no-repeat;
}

.box .footer .container .footer-link {
    text-align: left;
    border: none;
    padding: 0;
    font: 14px/1.5 "PingFang SC", "微软雅黑", "Microsoft YaHei", Helvetica, "Helvetica Neue", Tahoma, Arial, sans-serif;
}

.box .footer .container .footer-link a {
    margin: 0 10px;
    color: #99a1a6;
    display: inline-block;
    font-size: 14px;
}

.box .footer .container .footer-link a:hover {
    /*font-size: 20px;*/
    color: #fff;
}

.box .footer .container .footer-copyright {
    font-size: 12px;
    padding: 0 0 0 10px;
    text-align: left;
    margin-top: 8px;
    color: #93999F;
    line-height: 24px;
}

.elevator {
    position: fixed;
    padding: 0 16px;
    bottom: 150px;
    margin-top: -140px;
    right: 0;
    z-index: 999;
    background-color: #fff;
    box-shadow: 0 4px 12px 0 rgba(7, 17, 27, .1);
}

.elevator a {
    display: block;
    width: 26px;
    padding: 16px 0;
    font-size: 13px;
    line-height: 20px;
    color: #b5b9bc;
    box-sizing: border-box;
    text-align: center;
    border-bottom: 1px solid #edf1f2;
}

.elevator a i {
    font-size: 23px;
    color: #D9DDE1;
    speak: none;
    font-style: normal;
    font-weight: 400;
    display: block;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
}

.elevator a:hover i {
    display: none;
}

.elevator a:hover .span {
    display: block;
}

.elevator a .span {
    display: none;
    font-size: 12px;
    color: #07111b;
    line-height: 12px;
}

.elevator a .elevator-app-box {
    position: absolute;
    width: 0;
    height: 0;
    bottom: -2px;
    right: 56px;
    transition: opacity .25s, transform .3s;
    opacity: 0;
    transform-origin: 100% 95%;
    background: url(http://www.imooc.com/static/img/common/elevator.png?t=2) 0 -220px no-repeat;
}

.elevator a:hover .elevator-app-box {
    opacity: 1;
    width: 172px;
    height: 212px;
}

.elevator a:hover .elevator-weixin-box {
    opacity: 1;
    width: 172px;
    height: 212px;
}

.elevator a .elevator-weixin-box {
    position: absolute;
    width: 0;
    height: 0;
    bottom: -4px;
    right: 56px;
    transition: opacity .25s, transform .3s;
    opacity: 0;
    transform-origin: 100% 95%;
    background: url(http://www.imooc.com/static/img/common/elevator.png?t=2) no-repeat;
}